[Unit]
Description=apc mqtt publisher daemon
After=network.target

[Service]
WorkingDirectory=/lib/apcmqtt/
ExecStart=python -m apcmqtt
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
